<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
	</head>
	<body link="white" style="background-color:#8ec1da;">
		<center>
		<font size="6"> WELCOME TO MY MINIBLOG!</font>
		<br>
		<br>
		<a href="/sign-up"><font size="4"> Sign up for an account </font></a>
		<br>
		<font size="4">or</font>
		<br>
		<a href="/sign-in"><font size="4"> Sign in </font></a>
		</center>
	</body>
</html>