<!DOCTYPE html>
<html>
	<head>
		<title>Data Processing 101</title>
	</head>
	<body>
		<div class="flash notice">
		<%=flash[:notice] %>
		<%=flash[:alert] %>
		</div>	
	<%= yield %>	
	</body>
</html>